nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href="/") Home
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="#")
          | Books 
        //- p= `${user.name}`
    - if (user && user.active)
      button.btn.btn-danger#logout Log out 
      a.btn(href='')
        img.rounded-circle.mr-1(src=`/img/users/${user.photo}` alt=`${user.name}` style=" width: 30px; height: 30px")
        span.text-light= `${user.name.split(' ')[0]}`
    - if(!user || user.active === false)
        a.btn.btn-info.mr-3(href="/signup") Sign up
        a.btn.btn-info(href="/login") Log in
