extends base

block content 
  .container
    .row.my-3#booksContainer
      each book in shop.books
        .col-6
          .border.border-dark.p-3.mb-3
            h2 Name: #{book.name}
            p Author: #{book.author}
            p Price: #{book.price}
            button.btn.btn-info#addToCart(data-book-id=`${book.id}`) Add to cart