extends base

block content
   .container
      .row.justify-content-center
        .col.col-8.border.border-dark.mt-5.p-3.text-center.verify-email(style="cursor: pointer")
            p.display-4.text-warning Wellcome to BookStore.